{% block header %}
<!-- ======= Header ======= -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- Logo -->
              <a href="{{ path('app_home') }}" class="logo">
                <h1>StudyFlow</h1>
              </a>

              <!-- Menu -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="/home" class="active">Home</a>
                </li>
                <li class="scroll-to-section">
                  <a href="{{ path('app_studyflow') }}">stresse</a>
                </li>
                <li class="scroll-to-section">
                  <a href="/showcourses">Courses</a>
                </li>
                <li class="scroll-to-section">
                  <a href="{{ path('app_showproduit1') }}">Boutique</a>
                </li>
     <li class="scroll-to-section">
    <a href="https://127.0.0.1:8000/events/front">Events</a>
</li>
<li class="scroll-to-section">
              <a href="{{ path('app_login') }}">Log in</a>
            {% if is_granted('ROLE_ETUDIANT') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_profile_edit') }}">
                <i class="fas fa-user"></i> Mon profil
              </a>
            </li>
            {% endif %}
              </ul>
              
              <div class="nav-cart">
                <a href="{{ path('app_cart') }}" class="cart-link">
                  <i class="fas fa-shopping-cart"></i>
                  <span id="cart-count" class="cart-count">0</span>
                </a>
              </div>

              <!-- Mobile Menu -->
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>

    {% endblock %}