{# templates/admin_question/addformquestion.html.twig #}
{% extends 'admin/base_admin.html.twig' %}

{% block title %}Add Question - Admin{% endblock %}


{% block admin_content %}
<div class="admin-main-content">

    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h2>
                    <i class="fas fa-question-circle"></i>
                    Add New Question
                </h2>
            </div>

            <div class="card-body">
                {{ form_start(f) }}

                <div class="row">
                    {% for field in f %}
                        {% if field.vars.name != 'save' %}
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    {{ form_label(field) }}
                                    {{ form_widget(field, {
                                        attr: { class: 'form-control' }
                                    }) }}
                                    {{ form_errors(field) }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mt-4">
                    {{ form_widget(f.save, {
                        attr: { class: 'btn btn-success' }
                    }) }}

                    <a href="{{ path('app_showquestion') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to List
                    </a>
                </div>

                {{ form_end(f) }}
            </div>
        </div>
    </div>

</div>
{% endblock %}



{% block stylesheets %}
<style>
/* Push content away from sidebar */
.container {
    margin-left: 280px;
    max-width: calc(100% - 320px);
    padding-top: 100px;
}

/* Card */
.card {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0;
}

/* Inputs */
.form-control:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
}

/* Buttons */
.btn {
    padding: 10px 25px;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        margin-left: 0;
        max-width: 100%;
        padding-top: 80px;
    }
}
.admin-main-content {
    margin-left: 280px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    background-color: #f4f6f8;
    position: relative;
    z-index: 1;
}

/* Mobile */
@media (max-width: 768px) {
    .admin-main-content {
        margin-left: 0;
        padding-top: 80px;
    }
}

</style>

    
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="flexilecode" />
    <!--! BEGIN: Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets2/images/favicon.ico') }}" />
    <!--! END: Favicon-->
    <!--! BEGIN: Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets2/css/bootstrap.min.css') }}" />
    <!--! END: Bootstrap CSS-->
    <!--! BEGIN: Vendors CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets2/vendors/css/vendors.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets2/vendors/css/daterangepicker.min.css') }}" />
    <!--! END: Vendors CSS-->
    <!--! BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets2/css/theme.min.css') }}" />
    <!--! END: Custom CSS-->
    <!--! HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries !-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block javascripts %}
    
    <script src="{{ asset('assets2/vendors/js/vendors.min.js') }}"></script>
    <script src="{{ asset('assets2/vendors/js/daterangepicker.min.js') }}"></script>
    <script src="{{ asset('assets2/vendors/js/apexcharts.min.js') }}"></script>
    <script src="{{ asset('assets2/vendors/js/circle-progress.min.js') }}"></script>
    <script src="{{ asset('assets2/js/common-init.min.js') }}"></script>
    <script src="{{ asset('assets2/js/dashboard-init.min.js') }}"></script>
    {% block admin_javascripts %}{% endblock %}
    <script src="{{ asset('assets2/js/theme-customizer-init.min.js') }}"></script>
{% endblock %}
