{% extends 'admin/base_admin.html.twig' %}

{% block admin_content %}
<div style="padding-top: 100px; padding-left: 300px">
    <h1>Modifier l'utilisateur : {{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.motDePasse) }}
        {{ form_row(form.role) }}
        {{ form_row(form.statutCompte) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_users_show') }}">← Retour à la liste des utilisateurs</a>
</div>
{% endblock %}
