{# templates/user/user_add.html.twig #} {% extends 'admin/base_admin.html.twig'
%} {% block admin_content %}
<div style="padding-top: 150px; padding-left: 300px; padding-right:50px">
    <h1>Ajouter un utilisateur</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <table>
        <tbody>
            <tr>
                <td>{{ form_label(form.nom) }}</td>
                <td>{{ form_widget(form.nom) }}</td>
                <td>{{ form_errors(form.nom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.prenom) }}</td>
                <td>{{ form_widget(form.prenom) }}</td>
                <td>{{ form_errors(form.prenom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.email) }}</td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.motDePasse) }}</td>
                <td>{{ form_widget(form.motDePasse) }}</td>
                <td>{{ form_errors(form.motDePasse) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.role) }}</td>
                <td>{{ form_widget(form.role) }}</td>
                <td>{{ form_errors(form.role) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.statutCompte) }}</td>
                <td>{{ form_widget(form.statutCompte) }}</td>
                <td>{{ form_errors(form.statutCompte) }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <button type="submit">Ajouter</button>

    {{ form_end(form) }}
</div>
{% endblock %}