{% extends 'admin/base_admin.html.twig' %}

{% block admin_content %}
<div style="padding-top: 100px; padding-left: 300px">
    <h1>Modifier l'utilisateur : {{ utilisateur.nom }} {{ utilisateur.prenom }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <table>
        <tbody>
            <tr>
                <td>{{ form_label(form.nom) }}</td>
                <td>{{ form_widget(form.nom) }}</td>
                <td>{{ form_errors(form.nom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.prenom) }}</td>
                <td>{{ form_widget(form.prenom) }}</td>
                <td>{{ form_errors(form.prenom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.email) }}</td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.motDePasse) }}</td>
                <td>{{ form_widget(form.motDePasse) }}</td>
                <td>{{ form_errors(form.motDePasse) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.role) }}</td>
                <td>{{ form_widget(form.role) }}</td>
                <td>{{ form_errors(form.role) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.statutCompte) }}</td>
                <td>{{ form_widget(form.statutCompte) }}</td>
                <td>{{ form_errors(form.statutCompte) }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}

    <a href="{{ path('app_users_show') }}">← Retour à la liste des utilisateurs</a>
</div>
{% endblock %}
